!!!
%html{:dir => "ltr", :lang => "ja", :prefix => "fb: http://www.facebook.com/2008/fbml"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=10", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title コミュニケーションアプリ LINE（ライン）
    %meta{:content => "LINE(ライン)は、24時間、いつでも、どこでも、無料で好きなだけ通話やメールが楽しめる新しいコミュニケーションアプリです。", :name => "description"}/
    %meta{:content => "LINE(ライン)は、24時間、いつでも、どこでも、無料で好きなだけ通話やメールが楽しめる新しいコミュニケーションアプリです。", :property => "og:description"}/
    %meta{:content => "無料,通話,電話,メール,メッセージ,SMS,チャット,スタンプ,iPhone,Android,アプリ", :name => "keywords"}/
    %meta{:content => "コミュニケーションアプリ LINE（ライン）", :property => "og:title"}/
    / [OGP]
    %meta{:content => "//static.line.naver.jp/line_lp/img/ogimage.png", :property => "og:image"}/
    %meta{:content => "https://line.me/ja/", :property => "og:url"}/
    %meta{:content => "article", :property => "og:type"}/
    %meta{:content => "LINE", :property => "og:site_name"}/
    %meta{:content => "136895609724349", :property => "fb:app_id"}/
    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "@LINEjp_official", :name => "twitter:site"}/
    %link{:href => "/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "//static.line.naver.jp/line_lp/css/line_lp_pc_1476439291.css", :rel => "stylesheet"}/
    %script{:src => "//static.line.naver.jp/line_lp/js/html5_1476257638.js"}
    %link{:href => "//fonts.googleapis.com/css?family=Roboto:700,300,400,100,500", :rel => "stylesheet", :type => "text/css"}/
  %body.ExLang_ja.ExDevicePC.linelpTop
    .LyWrap
      %header#FnHeader.LyHead{:role => "banner"}
        .MdGHD01Header
          .mdGHD01Wrap
            .mdGHD01Inner
              .mdGHD01Left
                %h1
                  %a{"data-nclk" => "top.brand", :href => "/ja/"} LINE
                %ul.MdGHD02Nav
                  %li
                    %a{"data-nclk" => "top.download", :href => "/ja/download"} ログイン・新規登録
                    %span.mdGHD02NavSeparator |
        #FnMainVisual.MdGHD05MNImg.mdGHD05P01
          %ul.mdGHD05Ul
            %li.mdGHD05Link{"data-original" => "https://d.line-scdn.net/stf/line-lp/PC_visual_01_ja_0802.png"}
              %a{"data-nclk" => "bnr.link", :href => "/ja/download", :style => "margin-left:-480px;top:300px;width:134px;height:34px;"} text
          %ol.mdGHD05Paging
            %li.ExSelected
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
            %li
              %a{:href => "#"} 6
          / /MdGHD05Img
        / /LyHead
      / /HEADER-AREA
      / CONTENTS-AREA
      #FnContentsArea.LyContents{:role => "main"}
        .lyContentsInner
          %section.MdSec01.mdSec01ImgLeft
            .mdSec01Wrap
              .mdSec01Img
                %img{:alt => "", "data-original" => "https://d.line-scdn.net/stf/line-lp/ja_2016_01.png"}/
              .mdSec01Txt
                %h2
                  いつでも
                  %br>/
                  どこでも
                  %br>/
                  無料メール
                %p.mdSec01Desc
                  いつでもどこでも素早く簡単に友だちと
                  %br/
                  無料メールが楽しめます。1:1トークはもちろん、
                  %br/
                  グループトークも可能です。
                  %br/
                  iPhoneおよびAndroid、Windows Phone、BlackBerry、
                  %br/
                  Nokia Asha OSなどのスマートフォンはもちろん、
                  %br/
                  一般の携帯電話やPCでもお楽しみいただけます。
          %section.MdSec01.mdSec01ImgRight
            .mdSec01Wrap
              .mdSec01Img
                %img{:alt => "", "data-original" => "https://d.line-scdn.net/stf/line-lp/ja_2016_02.png"}/
              .mdSec01Txt
                %h2
                  無料ビデオ通話
                  %br>/
                  無料音声通話
                %p.mdSec01Desc
                  友だちが遠く離れたところにいてもLINEがあれば
                  %br/
                  リアルタイムで無料ビデオ通話や音声通話ができます。
                  %br/
                  声が聞きたい、顔が見たい時は、いつでもLINEで。
                  %br/
                  %br/
                  *現在、iOS、Android、WindowsPhone、BlackBerry(音声通話)、
                  %br/
                  PC（Windows/MacOS）でご利用いただけます。
          %section.MdSec01.mdSec01ImgLeft
            .mdSec01Wrap
              .mdSec01Img
                %img{:alt => "", "data-original" => "https://d.line-scdn.net/stf/line-lp/ja_2016_03.png"}/
              .mdSec01Txt
                %h2
                  %br>/
                  トークがさらに
                  %br>/
                  楽しく、
                  %br>/
                  LINEスタンプ
                %p.mdSec01Desc
                  10,000種類以上のスタンプと絵文字で、文字だけでは
                  %br/
                  伝わらない気持ちを相手に伝えることができます。
                  %br/
                  スタンプショップでは、
                  %br/
                  人気のLINEオリジナルキャラクターから世界中の
                  %br/
                  有名キャラクターのスタンプまで揃っています。
                  %br/
                  LINE STOREでスタンプやゲームアイテムを
                  %br/
                  簡単に購入できます。
          %section.MdSec01.mdSec01ImgRight
            .mdSec01Wrap
              .mdSec01Img
                %img{:alt => "", "data-original" => "https://d.line-scdn.net/stf/line-lp/ja_2016_04.png"}/
              .mdSec01Txt
                %h2
                  画像、動画の
                  %br>/
                  共有から
                  %br>/
                  音声メッセージ
                  %br>/
                  まで
                %p.mdSec01Desc
                  画像、動画の共有だけでなく、音声メッセージや
                  %br/
                  位置情報の送信まで！LINEなら、友だちと
                  %br/
                  簡単に共有できます。
          %section.MdSec01.mdSec01ImgLeft
            .mdSec01Wrap
              .mdSec01Img
                %img{:alt => "", "data-original" => "https://d.line-scdn.net/stf/line-lp/ja_2016_05.png"}/
              .mdSec01Txt
                %h2
                  人気
                  %br/
                  アーティスト、
                  %br/
                  ブランドの最新
                  %br/
                  ニュースや
                  %br/
                  クーポンがもらえます
                %p.mdSec01Desc
                  好きなアーティストや有名人、ブランド、
                  %br/
                  テレビ番組の公式アカウントを友だちに追加してみましょう。
                  %br/
                  LINEでしか公開されない最新ニュースやうれしいクーポンが
                  %br/
                  待っています。
          %section.MdSec02.mdSec02Row3
            .mdSec02Wrap
              %ul
                %li
                  %img{:alt => "alt", "data-original" => "https://d.line-scdn.net/stf/line-lp/ja_2016_06.png"}/
                  %h2
                    タイムライン
                    %a.mdSec02Row3Link{"data-nclk" => "toppage.timeline", :href => "https://timeline.line.me/", :target => "_blank"} Web site
                  %p.mdSec02Desc
                    テキスト、画像、動画、スタンプで
                    %br/
                    自分の近況を仲の良い友だちだけに
                    %br/
                    共有したり、友だちの近況も確認
                    %br/
                    できます。
                %li
                  %img{:alt => "alt", "data-original" => "https://d.line-scdn.net/stf/line-lp/ja_2016_07.png"}/
                  %h2 Keep
                  %p.mdSec02Desc
                    お気に入りのメッセージや写真、動画をKeepに保存できます。
                    友だちと共有したいファイルが簡単に検索可能です
                %li
                  %img{:alt => "alt", "data-original" => "https://d.line-scdn.net/stf/line-lp/ja_2016_08.png"}/
                  %h2 友だち追加もカンタン
                  %p.mdSec02Desc
                    スマートフォンを振って友だちを
                    %br/
                    追加する「ふるふる」、
                    %br/
                    QRコードによる友だち追加、
                    %br/
                    LINE IDで友だち検索など、
                    %br/
                    簡単に友だちを追加できます。
            / /MdSec02
          / /lyContentsInner
        / /LyContents
      / /CONTENTS-AREA
      / FOOTER-AREA
      %footer#FnFooter.LyFoot{:role => "contentinfo"}
        %h2.MdHide LINE Corporation Link
        .MdGFT02Link
          %ul.mdGFT02Ul
            %li
              %a{:href => "http://help.line.me/line/?lang=ja"} ヘルプ
              %span.mdGFT02Separator |
            %li
              %a{:href => "http://terms.line.me/line_terms/?lang=ja"} 利用規約
              %span.mdGFT02Separator |
            %li
              %a{:href => "http://terms.line.me/line_rules/?lang=ja"} プライバシーポリシー
              %span.mdGFT02Separator |
            %li
              %a{:href => "http://terms.line.me/line_common_ebizrule/?lang=ja"} 特定商取引法の表示
              %span.mdGFT02Separator |
            %li
              %a{:href => "http://terms.line.me/line_settlement_iphone/?lang=ja"} 資金決済法に基づく表示
              %span.mdGFT02Separator |
            %li
              %a{:href => "http://media.line.me/ja/"} 「LINEで送る」ボタン
              %span.mdGFT02Separator |
            %li
              %a{:href => "https://creator.line.me/"} LINE Creators Market
              %span.mdGFT02Separator |
            %li
              %a{:href => "http://line.me/ja/logo"} ロゴ利用ガイドライン
              %span.mdGFT02Separator |
            %li
              %a{:href => "https://store.line.me/", :target => "_new"} LINE STORE
              %span.mdGFT02Separator |
            %li
              %a{:href => "https://partner.line.me/"} パートナー
              %span.mdGFT02Separator |
            %li
              %a{:href => "http://official-blog.line.me/ja/", :target => "_new"} 公式ブログ
              %span.mdGFT02Separator |
            %li
              %a{:href => "https://linecorp.com/career/"} 採用情報
              %span.mdGFT02Separator |
            %li
              %a{:href => "http://line.me/safety/ja/"} 安心安全ガイド
              %span.mdGFT02Separator |
            %li
              %a{:href => "https://biz.line.naver.jp/ja/"} 法人のお客様へ
              %span.mdGFT02Separator |
            %li
              %a{:href => "http://linecorp.com", :target => "_new"} 会社概要
              %span.mdGFT02Separator |
            %li
              %a{:href => "http://partner-points.line.me/ja/", :target => "_new"} LINE ポイント
              %span.mdGFT02Separator |
            %li
              %a{:href => "https://manga.line.me/", :target => "_new"} LINEマンガ
              %span.mdGFT02Separator |
            %li
              %a{:href => "http://fs.line.me/", :target => "_new"} LINE FRIENDS STORE
          / /MdGFT02Link
        %p.MdGFT01Copy
          %small
            © 
            %b LINE Corporation
        / /LyFoot
      / /FOOTER-AREA
      / /LyWrap
    / LAYER-AREA
    .MdBgLayer{:style => "display:none;"}
    .MdLayer{:style => "display:none;"}
      %p.mdLayerClose{"data-nclk" => "dwn.wapqrclose"} 閉じる
      %p.mdLayerImg QRコード
      %p.mdLayerTxt 携帯電話ユーザーの方はこちらへ
    .MdLayer02{:style => "display:none;"}
      %p.mdLayerClose{"data-nclk" => "dwn.wapqrclose"} 閉じる
      %p.mdLayerImg QRコード
    / /LAYER-AREA
    / SCRIPT
    :javascript
      var nsc = "line.pcjahome", ccsrv="cc.naver.jp";
    %script{:src => "//static.line.naver.jp/line_lp/js/lc.line.lp.pc.common_1476257638.js"}
    %script{:src => "//static.line.naver.jp/line_lp/js/lc.line.lp.pc.line_1476257638.js"}
    :javascript
      $(function(){
          lc.line.lp.pc.common.init();
          lc.line.lp.pc.line.top.init();
          lc.line.lp.pc.line.download.init();
      });
      lcs_do();
